.generate {
  display: inline;
  justify-self: center;
}

.gen-btn {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  border: 0px;
  background-color: #2c2c2c;
  color: #fff;
}