* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right,#d1fdf7,#31ffa9);
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  ". . . ."
  "title title title title"
  ". . . ."
  ". instructions instructions ."
  ". search search ."
  ". generate generate ."
  "display display display display"
  "display display display display";
  grid-gap: 20px;
}

.title {
  grid-area: title;
  justify-self: center;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.search {
  grid-area: search;
  justify-self: center;
}

.generate {
  grid-area: generate;
  justify-self: center;
}

.display {
  grid-area: display;
  justify-items: center;
}

#instructions {
  grid-area: instructions;
  justify-self: center;
}

